<ion-header>
  <ion-toolbar>
    <ion-title>Grocery List</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="clearChecked()" [disabled]="checkedCount() === 0">
        <ion-icon slot="icon-only" name="trash-bin-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (groupedItems().length === 0) {
    <div class="empty-state">
      <p>Your list is empty. Add something below to get started.</p>
    </div>
  }

  @for (group of groupedItems(); track group[0]) {
    <ion-list>
      <ion-item-group>
        <ion-item lines="none" class="category-header">
          <ion-label color="medium">{{ group[0] }}</ion-label>
        </ion-item>
        @for (item of group[1]; track item.id) {
          <ion-item-sliding>
            <ion-item>
              <ion-checkbox
                slot="start"
                [checked]="item.checked"
                (ionChange)="toggleChecked(item.id)"
              ></ion-checkbox>
              <ion-label [class.checked]="item.checked">
                {{ item.name }}
                <ion-note>x{{ item.quantity }}</ion-note>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="removeItem(item.id)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        }
      </ion-item-group>
    </ion-list>
  }
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="add-item-row">
      <ion-input
        placeholder="Add an item"
        [(ngModel)]="newItemName"
        (keyup.enter)="addItem()"
      ></ion-input>
      <ion-input
        type="number"
        min="1"
        class="quantity-input"
        [(ngModel)]="newItemQuantity"
      ></ion-input>
      <ion-select
        interface="popover"
        [(ngModel)]="newItemCategory"
        class="category-select"
      >
        @for (category of categories; track category) {
          <ion-select-option [value]="category">{{ category }}</ion-select-option>
        }
      </ion-select>
      <ion-button (click)="addItem()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
