<app-list-header title="Shopping List">
  <ion-button end-extra (click)="clearChecked()" [disabled]="checkedCount() === 0">
    <ion-icon slot="icon-only" name="trash-bin-outline"></ion-icon>
  </ion-button>
</app-list-header>

<ion-content>
  @if (groupedItems().length === 0) {
    <div class="empty-state">
      <ion-icon name="basket-outline"></ion-icon>
      <p>Your list is empty. Add something below to get started.</p>
    </div>
  }

  @for (group of groupedItems(); track group[0]) {
    <ion-list>
      <ion-item-group>
        <ion-item-divider class="category-header">
          <ion-icon [name]="categoryIcon(group[0])" slot="start" color="primary"></ion-icon>
          <ion-label>{{ group[0] }}</ion-label>
        </ion-item-divider>
        @for (item of group[1]; track item.id) {
          <ion-item-sliding>
            <ion-item>
              <ion-checkbox
                slot="start"
                [checked]="item.checked"
                (ionChange)="toggleChecked(item)"
              ></ion-checkbox>
              <ion-label [class.checked]="item.checked" (click)="editItem(item)">
                {{ item.name }}
              </ion-label>
              <ion-badge slot="end" color="medium">x{{ item.quantity }}</ion-badge>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="removeItem(item.id)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        }
      </ion-item-group>
    </ion-list>
  }
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="add-item-row">
      <ion-item lines="none" class="name-input">
        <ion-input
          placeholder="Add an item"
          [(ngModel)]="newItemName"
          (keyup.enter)="addItem()"
        ></ion-input>
      </ion-item>
      <ion-item lines="none" class="quantity-input">
        <ion-input type="number" min="1" [(ngModel)]="newItemQuantity"></ion-input>
      </ion-item>
      <ion-item lines="none" class="category-select">
        <ion-select interface="popover" [(ngModel)]="newItemCategory">
          @for (category of categories; track category) {
            <ion-select-option [value]="category">{{ category }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
      <ion-button (click)="addItem()" shape="round">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
